table{
  text-align:left;
  border-spacing:0;
  width:100%
}

body{
  background:#dcbb9a;
  margin:0;padding:0
}

#content{
  background-color:#fff;
  color:#000;
  padding:20px;
  margin:15px 150px 15px 150px
  }

  h1{
    color:#893c00;
    text-align:center;
    margin-top:17px;margin-bottom:0
    }

    h2{
      color:#893c00
    }

  img{
    border:3px solid #893c00;
    padding:3px;
    float:left;
    margin:0px 15px 10px 0px
   }

 .brief+img{
    float:right;
    margin:0px 0px 10px 10px
    }

          
  .brief{
    padding:15px;
    background:#fadcba;
    position:relative;
    margin-bottom:25px;
    margin-right:10px
    }

  a{
    color:#3d70a1
   }

 caption{
    text-align:right
   }

 table,caption{
    padding-right:50px
   }

  th{
    text-transform:uppercase;
    background:#e0e0e0;
     padding:10px 15px 10px 15px;
     font-weight:normal
    }

 th:not(:first-child){
   border-left:1px solid white
   }

 td{
  border-bottom:2px solid #e0e0e0;
  padding:5px 15px 5px 15px
   }

 .response{
   padding-right:6px
  }

 form{
   width:100%
    }

 input,textarea,button{
   margin:7px 7px 12px 0px
    }

 div input,div textarea{
   width:100%
   }

  textarea{
    overflow:hidden
     }

  .name{
    width:50%
  }

  .name:first-child{
    float:left
  }

  .name:nth-child(2){
    float:right
  }

  span{
    color:gray
  }

  button.button{
    color:#3d70a1;
    border:2px solid #3d70a1;
    background:#fff;
    width:200px;
    height:40px;
    font-size:1.1em
  }
