//default

$style: null !default;
$bodyBgcolor: null !default;
$backgroundColor: null !default;
$textColor: null !default;
$headingColor: null !default;
$briefBgColor: null !default;
$aColor: null !default;
$thBgColor: null !default;
$spanColor: null !default;

//mixins

@mixin colorBlack($style) {
	@if $style == "second" {
		color: #000000;
	}
}


@mixin table($styleParameter  
	, $thBgColorParameter   
	, $tdBgColor:#677d01  
	) 
	{
	table {
		text-align: left;
		border-spacing: 0;
		width: 100%;
	}


//other

body {
	background: $bodyBgcolor;
	margin: 0;
	padding: 0;
}


#content {
	background-color: $backgroundColor;
	color: $textColor;
	padding: 20px;
	margin: 15px 150px 15px 150px;
}


h1 {
	color: $headingColor;
	text-align: center;
	margin-top: 17px;
	margin-bottom: 0;
	@if $style == "second" {
		text-transform: uppercase;
	}
}


h2 {
	color: $headingColor;
}

img {
	border: 3px solid $headingColor;
	padding: 3px;
	float: left;
	margin: 0px 15px 10px 0px;
}

.brief + img {
	float: right;
	margin: 0px 0px 10px 10px;
}




.brief {
	@if $style == "first" {
		float: left;
		width: 400px;
	}
	padding: 15px;
	background: $briefBgColor;
	position: relative;
	margin-bottom: 25px;
	margin-right: 10px;

	@include colorBlack($style);
}


//hyperlink

a {
	color: $aColor;
}




	caption {
		@include colorBlack($styleParameter);
		text-align: right;
	}

	table,
	caption {
		padding-right: 50px;
	}

	th {
		@include colorBlack($styleParameter);
		text-transform: uppercase;
		background: $thBgColorParameter;
		padding: 10px 15px 10px 15px;
		font-weight: normal;
		&:not(:first-child) {
			border-left: 1px solid white;
		}
	}

	td {
		border-bottom: 2px solid $thBgColorParameter;
		padding: 5px 15px 5px 15px;

		@if $styleParameter == "second" {
			background: $tdBgColor;
		}
	}
}



@include table($styleParameter:$style, $thBgColorParameter:$thBgColor); //table header color


// forms

.response {
	padding-right: 6px;
}

form {
	width: 100%;
}
input,
textarea,

button {
	margin: 7px 7px 12px 0px;
}

div input,
div textarea {
	width: 100%;
}

textarea {
	overflow: hidden;
}

.name {
	width: 50%;
	&:first-child {
		float: left;
	}
	&:nth-child(2) {
		float: right;
	}
}


span {
	color: $spanColor;
}


button.button {
	color: $aColor;
	border: 2px solid  $aColor;
	background: $backgroundColor;
	width: 200px;
	height: 40px;
	font-size: 1.1em;
}